html {
	background-color: #3990d2;
	background-size: cover;
	font-family: 'helvetica neue';
	text-align: center;
	font-size: 10px;
}

body {
	margin: 0;
	font-size: 2rem;
	display: flex;
	flex: 1;
	min-height: 100vh;
	align-items: center;
}

.heading {
	position: absolute;
	font-size: 0.6em;
	color: red;
	margin: 0 auto;
	width: 50%;
	margin-left: 358px;
	margin-top: -50px;
	z-index: 200;
}

.subheading {
	position: absolute;
	font-size: 0.4em;
	color: red;
	margin: 0 auto;
	width: 50%;
	margin-left: 358px;
	margin-top: -40px;
	z-index: 200;
}

.third-heading {
	position: absolute;
	font-size: 0.4em;
	color: black;
	margin: 0 auto;
	width: 50%;
	margin-left: 358px;
	margin-top: 75px;
	z-index: 200;
}

.clock {
	width: 24rem;
	height: 24rem;
	background: #fefefe;
	border: 20px solid white;
	border-radius: 50%;
	margin: 50px auto;
	position: relative;
	padding: 2rem;
	box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #EFEFEF, inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
	position: relative;
	width: 100%;
	height: 100%;
	transform: translateY(-3px);
}

.hand {
	width: 50%;
	height: 7px;
	position: absolute;
	top: 50%;
	border-radius: 5px 0px 0px 5px;
	transform-origin: 100%;
	transform: rotate(90deg);
	transition: all 0.05s;
	transition-timing-function: cubic-bezier(0.2, 2.7, 0.58, 1);
}

.hour-hand {
	background: black;
	opacity: 0.7;
}

.min-hand {
	height: 6px;
	background: black;
}

.second-hand {
	height: 4px;
	background: red;
}

.twelve {
	color: black;
	font-weight: bold;
	margin-top: -5px;
}

.three {
	color: black;
	font-weight: bold;
	margin-top: 120px;
	margin-left: 290px;
}

.six {
	color: black;
	font-weight: bold;
	margin-top: 125px;
}

.nine {
	color: black;
	font-weight: bold;
	margin-top: -45px;
	margin-left: -290px;
}

.middle {
	position: absolute;
	width: 8px;
	height: 8px;
	background: white;
	border: solid 2px black;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	margin-left: 715px;
	margin-top: -0px;
	z-index: 200;
}

.clock .ticks span {
	position: absolute;
	display: block;
	height: 3px;
	width: 10px;
	background: #444;
	left: calc(50% - 6px);
	top: 51%;
}

.clock .ticks span:nth-child(1) {
	-webkit-transform: rotate(6deg) translateX(118px);
	transform: rotate(6deg) translateX(118px);
}

.clock .ticks span:nth-child(2) {
	-webkit-transform: rotate(12deg) translateX(118px);
	transform: rotate(12deg) translateX(118px);
}

.clock .ticks span:nth-child(3) {
	-webkit-transform: rotate(18deg) translateX(118px);
	transform: rotate(18deg) translateX(118px);
}

.clock .ticks span:nth-child(4) {
	-webkit-transform: rotate(24deg) translateX(118px);
	transform: rotate(24deg) translateX(118px);
}

.clock .ticks span:nth-child(5) {
	-webkit-transform: rotate(30deg) translateX(118px);
	transform: rotate(30deg) translateX(118px);
	background: red;
}

.clock .ticks span:nth-child(6) {
	-webkit-transform: rotate(36deg) translateX(118px);
	transform: rotate(36deg) translateX(118px);
}

.clock .ticks span:nth-child(7) {
	-webkit-transform: rotate(42deg) translateX(118px);
	transform: rotate(42deg) translateX(118px);
}

.clock .ticks span:nth-child(8) {
	-webkit-transform: rotate(48deg) translateX(118px);
	transform: rotate(48deg) translateX(118px);
}

.clock .ticks span:nth-child(9) {
	-webkit-transform: rotate(54deg) translateX(118px);
	transform: rotate(54deg) translateX(118px);
}

.clock .ticks span:nth-child(10) {
	-webkit-transform: rotate(60deg) translateX(118px);
	transform: rotate(60deg) translateX(118px);
	background: red;
}

.clock .ticks span:nth-child(11) {
	-webkit-transform: rotate(66deg) translateX(118px);
	transform: rotate(66deg) translateX(118px);
}

.clock .ticks span:nth-child(12) {
	-webkit-transform: rotate(72deg) translateX(118px);
	transform: rotate(72deg) translateX(118px);
}

.clock .ticks span:nth-child(13) {
	-webkit-transform: rotate(78deg) translateX(118px);
	transform: rotate(78deg) translateX(118px);
}

.clock .ticks span:nth-child(14) {
	-webkit-transform: rotate(84deg) translateX(118px);
	transform: rotate(84deg) translateX(118px);
}

.clock .ticks span:nth-child(15) {
	-webkit-transform: rotate(90deg) translateX(118px);
	transform: rotate(90deg) translateX(118px);
	background: red;
}

.clock .ticks span:nth-child(16) {
	-webkit-transform: rotate(96deg) translateX(118px);
	transform: rotate(96deg) translateX(118px);
}

.clock .ticks span:nth-child(17) {
	-webkit-transform: rotate(102deg) translateX(118px);
	transform: rotate(102deg) translateX(118px);
}

.clock .ticks span:nth-child(18) {
	-webkit-transform: rotate(108deg) translateX(118px);
	transform: rotate(108deg) translateX(118px);
}

.clock .ticks span:nth-child(19) {
	-webkit-transform: rotate(114deg) translateX(118px);
	transform: rotate(114deg) translateX(118px);
}

.clock .ticks span:nth-child(20) {
	-webkit-transform: rotate(120deg) translateX(118px);
	transform: rotate(120deg) translateX(118px);
	background: red;
}

.clock .ticks span:nth-child(21) {
	-webkit-transform: rotate(126deg) translateX(118px);
	transform: rotate(126deg) translateX(118px);
}

.clock .ticks span:nth-child(22) {
	-webkit-transform: rotate(132deg) translateX(118px);
	transform: rotate(132deg) translateX(118px);
}

.clock .ticks span:nth-child(23) {
	-webkit-transform: rotate(138deg) translateX(118px);
	transform: rotate(138deg) translateX(118px);
}

.clock .ticks span:nth-child(24) {
	-webkit-transform: rotate(144deg) translateX(118px);
	transform: rotate(144deg) translateX(118px);
}

.clock .ticks span:nth-child(25) {
	-webkit-transform: rotate(150deg) translateX(118px);
	transform: rotate(150deg) translateX(118px);
	background: red;
}

.clock .ticks span:nth-child(26) {
	-webkit-transform: rotate(156deg) translateX(118px);
	transform: rotate(156deg) translateX(118px);
}

.clock .ticks span:nth-child(27) {
	-webkit-transform: rotate(162deg) translateX(118px);
	transform: rotate(162deg) translateX(118px);
}

.clock .ticks span:nth-child(28) {
	-webkit-transform: rotate(168deg) translateX(118px);
	transform: rotate(168deg) translateX(118px);
}

.clock .ticks span:nth-child(29) {
	-webkit-transform: rotate(174deg) translateX(118px);
	transform: rotate(174deg) translateX(118px);
}

.clock .ticks span:nth-child(30) {
	-webkit-transform: rotate(180deg) translateX(118px);
	transform: rotate(180deg) translateX(118px);
	background: red;
}

.clock .ticks span:nth-child(31) {
	-webkit-transform: rotate(186deg) translateX(118px);
	transform: rotate(186deg) translateX(118px);
}

.clock .ticks span:nth-child(32) {
	-webkit-transform: rotate(192deg) translateX(118px);
	transform: rotate(192deg) translateX(118px);
}

.clock .ticks span:nth-child(33) {
	-webkit-transform: rotate(198deg) translateX(118px);
	transform: rotate(198deg) translateX(118px);
}

.clock .ticks span:nth-child(34) {
	-webkit-transform: rotate(204deg) translateX(118px);
	transform: rotate(204deg) translateX(118px);
}

.clock .ticks span:nth-child(35) {
	-webkit-transform: rotate(210deg) translateX(118px);
	transform: rotate(210deg) translateX(118px);
	background: red;
}

.clock .ticks span:nth-child(36) {
	-webkit-transform: rotate(216deg) translateX(118px);
	transform: rotate(216deg) translateX(118px);
}

.clock .ticks span:nth-child(37) {
	-webkit-transform: rotate(222deg) translateX(118px);
	transform: rotate(222deg) translateX(118px);
}

.clock .ticks span:nth-child(38) {
	-webkit-transform: rotate(228deg) translateX(118px);
	transform: rotate(228deg) translateX(118px);
}

.clock .ticks span:nth-child(39) {
	-webkit-transform: rotate(234deg) translateX(118px);
	transform: rotate(234deg) translateX(118px);
}

.clock .ticks span:nth-child(40) {
	-webkit-transform: rotate(240deg) translateX(118px);
	transform: rotate(240deg) translateX(118px);
	background: red;
}

.clock .ticks span:nth-child(41) {
	-webkit-transform: rotate(246deg) translateX(118px);
	transform: rotate(246deg) translateX(118px);
}

.clock .ticks span:nth-child(42) {
	-webkit-transform: rotate(252deg) translateX(118px);
	transform: rotate(252deg) translateX(118px);
}

.clock .ticks span:nth-child(43) {
	-webkit-transform: rotate(258deg) translateX(118px);
	transform: rotate(258deg) translateX(118px);
}

.clock .ticks span:nth-child(44) {
	-webkit-transform: rotate(264deg) translateX(118px);
	transform: rotate(264deg) translateX(118px);
}

.clock .ticks span:nth-child(45) {
	-webkit-transform: rotate(270deg) translateX(118px);
	transform: rotate(270deg) translateX(118px);
	background: red;
}

.clock .ticks span:nth-child(46) {
	-webkit-transform: rotate(276deg) translateX(118px);
	transform: rotate(276deg) translateX(118px);
}

.clock .ticks span:nth-child(47) {
	-webkit-transform: rotate(282deg) translateX(118px);
	transform: rotate(282deg) translateX(118px);
}

.clock .ticks span:nth-child(48) {
	-webkit-transform: rotate(288deg) translateX(118px);
	transform: rotate(288deg) translateX(118px);
}

.clock .ticks span:nth-child(49) {
	-webkit-transform: rotate(294deg) translateX(118px);
	transform: rotate(294deg) translateX(118px);
}

.clock .ticks span:nth-child(50) {
	-webkit-transform: rotate(300deg) translateX(118px);
	transform: rotate(300deg) translateX(118px);
	background: red;
}

.clock .ticks span:nth-child(51) {
	-webkit-transform: rotate(306deg) translateX(118px);
	transform: rotate(306deg) translateX(118px);
}

.clock .ticks span:nth-child(52) {
	-webkit-transform: rotate(312deg) translateX(118px);
	transform: rotate(312deg) translateX(118px);
}

.clock .ticks span:nth-child(53) {
	-webkit-transform: rotate(318deg) translateX(118px);
	transform: rotate(318deg) translateX(118px);
}

.clock .ticks span:nth-child(54) {
	-webkit-transform: rotate(324deg) translateX(118px);
	transform: rotate(324deg) translateX(118px);
}

.clock .ticks span:nth-child(55) {
	-webkit-transform: rotate(330deg) translateX(118px);
	transform: rotate(330deg) translateX(118px);
	background: red;
}

.clock .ticks span:nth-child(56) {
	-webkit-transform: rotate(336deg) translateX(118px);
	transform: rotate(336deg) translateX(118px);
}

.clock .ticks span:nth-child(57) {
	-webkit-transform: rotate(342deg) translateX(118px);
	transform: rotate(342deg) translateX(118px);
}

.clock .ticks span:nth-child(58) {
	-webkit-transform: rotate(348deg) translateX(118px);
	transform: rotate(348deg) translateX(118px);
}

.clock .ticks span:nth-child(59) {
	-webkit-transform: rotate(354deg) translateX(118px);
	transform: rotate(354deg) translateX(118px);
}

.clock .ticks span:nth-child(60) {
	-webkit-transform: rotate(360deg) translateX(118px);
	transform: rotate(360deg) translateX(118px);
	background: red;
}
